<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<StackLayout class="page__content"  #layout>
    <Label class="page__content-icon fas" text="&#xf013;"></Label>
    <Label class="page__content-placeholder"></Label>
    <label [text]="this.nombreUsuario"></label>
    <br>
    <br>
    <EdicionForm (search)="GrabarDato($event)"></EdicionForm>
</StackLayout>